/*-- scss:rules --*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Source+Code+Pro:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;350;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");


$color-primary: "#ADF";       // Very dark text/default color

h2#subtitle {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  // font-family: "Source Serif Pro", serif !important;
  font-family: "Inter";
  font-weight: 500;
  // font-weight: 200;
}

h2 {
  font-size: 1.3rem;
  border-bottom: 2px solid #9080A0;
  padding-bottom: 3px;
}

h3 {
  color: 111;
  font-size: 1.15rem;
}

h4 {
  font-size: 1.1rem;
  color: 222;
}

// Stylized name of each executive/board member
span.name {
  color: #9080A0;
  padding-left: 12px;
  font-style: italic;
  font-size: 1.05rem;
}

span.listing-date {

  display: block;
  width: 60px;
}


main#quarto-document-content {
  max-width: 65ch;
  font-size: 16px;
  font-family: "Inter";

  text-align: justify;

  a {
    text-decoration: none;
  }
}


.member-photo {
  float: left;
  margin: 0.7rem 2rem 1rem 0;

  width: 150px;
  // aspect-ratio: 1;

  // overflow: hidden;
  // border-radius: 50%;
  // border: 2px solid #FFEE8C;

  img {
    display: block;
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.navbar,
.navbar-container,
#quarto-header {
  font-family: "Inter";
  font-weight: 400;
  text-align: center;
}

// Kingdom of God is within you epigraph
span.kog-epigraph-verse {
  color: black;
  font-size: 0.725rem;
}

span#kog-epigraph {
  font-size: 0.8rem;
  font-family: 'Source Serif Pro';
}


//
// html body.nav-fixed.fullcontent.quarto-light div#quarto-content.quarto-container.page-columns.page-rows-contents.page-layout-article.page-navbar
main#quarto-document-content.content div#listing-listing.quarto-listing.quarto-listing-container-table table.quarto-listing-table.table tbody.list tr td {

  span.listing-date {
    display: block;
    width: 100px;
  }

  a.title.listing-title {
    display: block;
    width: 500px;
  }
}

// Only display the date and title columns in governance document archive
.quarto-listing-table th:nth-child(3),
.quarto-listing-table td:nth-child(3) {
  display: none;
}

